@import url('https://fonts.googleapis.com/css?family=Poppins');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
}

html body {
  height: 100%;
}

body {
  font-size: 16px;
  font-family: 'Poppins';
  font-style: normal;
}

.App {
  width: 100%;
  max-width: 85.5vw;
  min-height: 100%;
  margin: 0 auto;
}